<div class="container">

  <h1 style="text-align: center;">
      Welcome to {{ title }}!
  </h1>

  <div style="display: inline-block;">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitches" (click)="sort($event)">
      <label class="custom-control-label" for="customSwitches">Toggle to machete order</label>
    </div>
    Enter your name : <input type="text" [value]="userName" (input)="userName = $event.target.value; savingResponseMessage =''">
            and click on a movie's cover you want to save as a favorite<br>
    <div style="color: red;">
      {{savingResponseMessage}}
    </div>
  </div>
  <div *ngFor="let movie of movies">
    <div style="padding: 3%;">
        {{movie.movieDetails.Title}}
    </div>
    <div (click)="saveAsFavorite(movie.imdbId)">
        <img [src]="movie.cover" />
        <span style="padding: 10%;">{{movie.movieDetails.Actors}}</span>
    </div>
    <hr>
  </div>
</div>

